<!DOCTYPE html>
<html>
	<head>
		<title>Pi-WakeUp</title>
		<meta charset="utf8"/>

		<link rel="stylesheet" type="text/css" href="css/flipclock.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>

	<body>
		<h1>Welcome on the Pi-WakeUp</h1>
		<div class="clock"></div>

		<form id="alarm-form">
			<select id="day">
				<% for(var i = 0; i < 7; ++i) {%>
					<option value="<%= i %>"><%= ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'][i] %></option>
				<% } %>
			</select>
			<select id="hours">
				<% for(var i = 0; i < 24; ++i) {%>
					<option value="<%= i %>"><%= ((i < 10) ? '0' : '') + i %></option>
				<% } %>
			</select>
			<select id="minutes">
				<% for(var i = 0; i < 60; ++i) {%>
					<option value="<%= i %>"><%= ((i < 10) ? '0' : '') + i %></option>
				<% } %>
			</select>
			<label for="repeat">Repeat : </label><input type="checkbox" id="repeat" value="repeat" checked/>
			<input type="button" id="alarm-form-submit" value="Set alarm"/>
		</form>

		<audio loop="loop" controls="controls">
			Your browser doesn't support the <code>audio</code> element.
			<source src="musics/TheDarkness-GhostVitaz5.mp3" type="audio/mp3"/>
		</audio>
		
		<ol id="alarms-planning"></ol>

		<footer>
			<div>Icons made by <a href="http://www.flaticon.com/authors/vaadin" title="Vaadin">Vaadin</a> and by <a href="http://www.flaticon.com/authors/appzgear" title="Appzgear">Appzgear</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> are licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
		</footer>

		<!-- Scripts -->
		<script type="text/javascript" src="js/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="js/flipclock.min.js"></script>
		<script type='text/javascript' src='socket.io/socket.io.js'></script>
		<script type='text/javascript'>	serverAddress = '<%= serverIP + ':' + port %>'; </script>
		<script type='text/javascript' src='js/polyfills.js'></script>
		<script type='text/javascript' src='js/alarmsHandler.js'></script>
		<script type='text/javascript' src='js/alarms.js'></script>
		<script type="text/javascript" src="js/timer.js"></script>
	</body>

</html>
